.root {
  @apply flex flex-col mb-6;

  .image {
    @apply mb-2;
    min-height: 200px;
    object-fit: cover;
    transform-origin: top left;
  }

  .details {
    @apply flex flex-row;

    .name {
      @apply ml-auto;
    }
  }

  &:nth-child(odd) {
    @apply pr-16;

    .image {
      object-position: right center;
    }

    .details {
      @apply pl-14;
    }
  }

  &:nth-child(even) {
    @apply pl-14;

    .image {
      object-position: left center;
    }

    .details {
      @apply pr-16;
    }
  }

  @screen lg {
    @apply absolute;

    &:nth-child(odd), &:nth-child(even) {
      @apply p-0;

      .image {
        min-height: unset;

        &:hover {
          cursor: url('/images/cursor.png') 37 37, auto;
        }
      }

      .details {
        @apply p-0;
      }
    }
  }
}
