.single-root {
  @apply px-5 mb-10;

  .content {
    @apply mt-10;

    h2 + p {
      @apply mt-6;
    }
  }

  @screen lg {
    @apply px-16 mb-24;

    &.has-text {
      @apply flex flex-row-reverse;

      &.text-on-left {
        @apply flex-row;
      }

      .image {
        flex: 1;
      }

      .content {
        @apply mt-0 flex flex-col items-center justify-center;
        flex: 1;

        .content-inner {
          @apply max-w-[60%];

          h2 {
            @apply text-5xl;
          }

          p {
            @apply text-xl;
          }
        }
      }
    }
  }
}

.root {
  @apply mb-10;

  .slider {
    @apply relative;

    button {
      &:first-of-type {
        @apply absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translateY(-50%);
      }

      &:last-of-type {
        @apply absolute;
        top: 50%;
        right: 0;
        z-index: 2;
        transform: translateY(-50%);
      }
    }
  }

  .pagination {
    @apply px-5 mt-4;
  }

  .content {
    @apply px-5 mt-4;

    h2 + p {
      @apply mt-6;
    }
  }

  @screen lg {
    @apply px-16 mb-24;

    .slider {
      button {
        svg {
          height: 80px;
          width: auto;
        }
      }
    }

    .below {
      @apply flex flex-row-reverse;
      
      .pagination {
        @apply text-5xl;
      }

      .content {
        @apply flex flex-row px-16;

        h2, p {
          @apply mr-16;
        }

        h2 {
          @apply text-5xl;
        }

        p {
          @apply text-xl mt-0;
        }
      }
    }
  }
}


