.root {
  .header {
    h1 {
      @apply px-5 pt-5 pb-10 text-center font-light text-5xl;

      &.mobile {
        @apply block lg:hidden;
      }

      &:not(.mobile) {
        @apply hidden lg:block;
      }
    }
    
    .filter-bar {
      @apply flex w-full items-center justify-between px-6 py-2 border-y;
    }
    
    .filter-menu {
      @apply flex flex-col w-full px-6 overflow-hidden;

      .filter-options {
        @apply flex flex-col text-xl gap-2 my-2;

        sup {
          font-size: 50%;
          top: -1em;
        }
      }

      .view-map {
        @apply flex mr-auto bg-black text-white py-4 px-8 text-xl;
      }
    }
  }

  .list-container {
    @apply px-5;
  }

  @screen lg {
    @apply text-xl;

    .header {
      @apply px-16 py-16;

      h1 {
        @apply p-0 text-left text-8xl my-10;
      }

      .filter-bar {
        @apply hidden;
      }

      .filter-menu {
        height: auto !important;
        @apply flex-row justify-between items-end px-0;

        .filter-options {
          @apply flex-row text-3xl gap-16;
        }

        .view-map {
          @apply py-5 px-10 m-0;
        }
      }
    }

    .list-container {
      @apply px-16;
    }
  }
}
