.root {
  h1 {
    @apply text-5xl mt-5 mb-10 font-light;
  }

  .container {
    @apply px-5 pb-8;
  }

  .header {
    button {
      @apply flex flex-row items-center bg-black text-white p-4 w-full my-10;

      svg {
        @apply ml-auto;
      }
    }

    .address {
      p {
        @apply text-xl mb-4;

        &:first-of-type {
          @apply font-medium;
        }
      }
    }
  }

  .mapContainer {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;

    .map {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      overflow: hidden;
    }
  }

  @screen lg {
    @apply text-xl;

    h1 {
      @apply text-8xl py-16 mt-0;
    }

    .filter-bar {
      @apply px-16 pb-16;
    }

    .container {
      @apply px-16;
    }

    .header {
      @apply flex flex-row;

      & > div {
        &:first-of-type {
          @apply w-3/4;
        }

        &:last-of-type {
          @apply pt-16;
        }
      }
      
      button {
        @apply w-auto;

        svg {
          @apply ml-6;
        }
      }
    }

    .mapContainer {
      padding-bottom: 30%;
    }
  }
}
