.root {
  .filter-bar {
    @apply flex w-full items-center justify-between px-6 py-2 border-y;
  }
  
  .filter-menu {
    @apply flex flex-col w-full px-6 overflow-hidden;

    .filter-options {
      @apply flex flex-col text-xl gap-2 my-2;

      sup {
        font-size: 50%;
        top: -1em;
      }
    }

    .right-button {
      @apply mr-auto;
    }
  }

  @screen lg {
    .filter-bar {
      @apply hidden;
    }

    .filter-menu {
      height: auto !important;
      @apply flex-row justify-between items-end px-0;

      .filter-options {
        @apply flex-row text-3xl gap-16;
      }

      .right-button {
        @apply m-0;
      }
    }
  }
}
