.root {
  @apply px-5;

  .container {
    @apply flex flex-col items-center border-t border-black pt-10;

    .stack-wrapper {
      @apply w-full;
    }

    .stack {
      @apply relative w-full my-5;

      .project {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    svg {
      width: 56px;
      height: 56px;
    }
  }

  @screen lg {
    @apply px-10;

    .container {
      h2 {
        @apply text-5xl;
      }

      .stack-wrapper {
        @apply max-w-[30%];
      }
  
      .stack {
        @apply my-10;
      }
    }
  }
}
