// Neue Haas Grotesk Display Pro 45 Light
@font-face {
  font-family: 'NeueHaasGroteskDisplayPro';
  src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Neue Haas Grotesk Display Pro 55 Roman
@font-face {
  font-family: 'NeueHaasGroteskDisplayPro';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Neue Haas Grotesk Display Pro 65 Medium
@font-face {
  font-family: 'NeueHaasGroteskDisplayPro';
  src: url('/fonts/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// Neue Haas Grotesk Display Pro 95 Black
@font-face {
  font-family: 'NeueHaasGroteskDisplayPro';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
